<%= form_for video do |f| %>
  <%= check_for_errors video %>
  <fieldset>
	<legend><%= title %></legend>
	<ol>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</li>

		<li>
			<%= f.label :youtube_id, "Youtube ID" %>
			<%= f.text_field :youtube_id, placeholder: "jK_pL6-7eMg" %>
		</li>
		
		<li>
			<%= f.label :vimeo_id, "Vimeo ID" %>
			<%= f.text_field :vimeo_id, placeholder: "012345" %>
		</li>

		<li>
			<%= f.label :description %>
			<%= f.text_area :description, size: "30x5" %>
		</li>
	</ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
