<h1>Video</h1>
<h3>Videos that I've scored with original music.</h3>

<% if @videos.present? %>
	<table id="video-list">
	  <% @videos.each do |video| %>
	    <tr class="video-item">
		  <td class="info">
			<h2><%= video.title %></h2>
			<%= simple_format(video.description.html_safe, {}, sanitize: false) %>
			<%= edit_link edit_video_path(video) %>
		  </td>
		  <td class="player">
			<% if video.vimeo_id %>
				<iframe src="http://player.vimeo.com/video/<%=video.vimeo_id%>" width="400" height="265" frameborder="0" class="vimeo"></iframe><br />	    
				<%= link_to image_tag('youtube_icon_small.png', alt: "Watch on YouTube", title: "Watch on YouTube", class: "youtube-icon"), "http://youtu.be/#{video.youtube_id}", target: "_blank" if video.youtube_id %>
			<% elsif video.youtube_id %>
				<iframe width="400" height="255" src="http://www.youtube.com/embed/<%= video.youtube_id %>?hd=1" frameborder="0" allowfullscreen class="youtube"></iframe>
			<% end %>
		  </td>
		</tr>
	  <% end %>
	</table>
<% end %>
<%= no_records_check @videos, "Videos" %>
<%= create_link "video", new_video_path %>
