<%= form_for post, html: { class: "big" } do |f| %>
  <%= check_for_errors post %>
  <fieldset>
	<legend><%= title %></legend>
	<ol>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</li>
		<li>
			<%= f.text_area :body, class: 'ckeditor' %>
		</li>
	</ol>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>
