<!DOCTYPE html>
<html>
<head>
  <title>Bryan Ricker :: Music</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
  <%= yield :header %>
</head>
<body>
	<% if @home_page %><div id="bryimg">&nbsp;</div><% end %>
	<div id="topbar">
		<div class="watdo">
			digital audio. composer. arranger. film music maker.
		</div>
	</div>
	<div class="top-info">
		<% if logged_in? %>
			<div class="admin"><!--
				--><%= link_to "Logout", logout_path, id: "logout" %><!--
				--><%= link_to "Create Page", new_page_path, id: "create-page" %><!--
				--><%= link_to "Add Post", new_post_path %><!--
				--><%= link_to "Home", root_path %><!--
			--></div>
		<% end %>
	
		<% unless flash.empty? %>
		  <div id="flash">
		    <% flash.each do |name, msg| %>
		      <div class="<%= name %>"><%= msg %></div>
		    <% end %>
		  </div>
		<% end %>
	</div>
	
	<% @home_page ? div_class = 'home' : div_class = 'small-nav' %>
		<div id="navbox" class="<%=div_class%>">
			<% unless @home_page %><div id="bassclef">&nbsp;</div><% end %>
			<div id="bryanricker" class="<%=div_class%>">
			  <a href="<%= view_page_path("about") %>">
			    bryanricker
			  </a>
			</div>

			<div id="blog" class="<%=div_class%>">
			  <a href="<%= posts_path %>">
			  <span class="hidden">b</span><br />l<br />o<br />g
		  	  </a>
			</div>
			
			<div id="scores" class="<%=div_class%>">
			  <a href="<%= scores_path %>"> 
			  s<br />c<br />o<br /><span class="hidden">r</span><br />e<br />s
		  	  </a>
			</div>

			<div id="audio" class="<%=div_class%>">
			  <a href="<%= audios_path %>">
			  <span class="hidden">a</span><br />u<br />d<br />i<br />o
		  	  </a>
			</div>

			<div id="video" class="<%=div_class%>">
			  <a href="<%= videos_path %>">
			  v<br />i<br />d<br /><span class="hidden">e</span><br />o
		  	  </a>
			</div>

			<div id="music" class="<%=div_class%>">
				m<br />u<br />s<br /><span class="hidden">i</span><br />c
			</div>

			<div id="contact" class="<%=div_class%>">
			  <a href="<%= view_page_path("contact") %>">
			  <span class="hidden">c</span><br />o<br />n<br />t<br />a<br />c<br />t
			  </a>
			</div>
		</div>
		
		<% unless @home_page %>
			<div id="content">
				<%= yield %>
			</div>
		<% end %>
		
		<nav id="footer-nav"><!--
			--><%= link_to 'home', root_path %><!--
			--><%= link_to 'bryan ricker', view_page_path("about") %><!--
			--><%= link_to "blog", posts_path %><!--
			--><%= link_to 'scores', scores_path %><!--
			--><%= link_to 'audio', audios_path %><!--
			--><%= link_to 'video', videos_path %><!--
			--><%= link_to 'contact', view_page_path("contact") %><!--
		--></nav>
</body>
</html>
